<style>
.content {
  max-width: 800px;
  margin: auto;
}
</style>
<body> <div class="content">
    <h1><%= @movie['title'] %> (<%= @movie['release_date'].split('-')[0] %>)</h1>

    <li>Genre: 
      <% for i in @movie['genres']%>
         <%= i["name"]%> 
      <% end %>
    </li>
    <li>Score: <%= @movie['vote_average'] %></li>
    <li>Runtime: <%= @movie['runtime'] %></li>
    <li>Language: <%= @movie['original_language'] %></li>
    <img src= https://image.tmdb.org/t/p/w500<%= @movie["poster_path"].to_s %> alt="Poster">

    <li>Plot: <%= @movie['overview'] %></li>
    <form action="https://matias.ma/nsfw/" method="get">
      <input type="submit" value="Add to my list" />
    </form>
    
    <img src= https://image.tmdb.org/t/p/w500<%= @movie["backdrop_path"].to_s %> alt="Poster">
 
</div></body>

name = "my name is: andrew".split('-')[0] # => "andrew"