<h1>Result</h1>

<li>
    <%= @movie['Title'] %>
    <%= @movie['Genre'] %>
    <%= @movie['Year'] %>
    <%= @movie['Rated'] %>
    <%= @movie['Runtime'] %>
    <%= @movie['Director'] %>
    <%= @movie['Year'] %>
    <%= @movie['Actors'] %>
    <%= @movie['Plot'] %>
    <%= @movie['Language'] %>
    <%= @movie['Ratings']["Internet Movie Database"] %>
    <%= @movie['Year'] %>
</li>
<img src=<%= @movie['Poster'] %> alt="W3Schools.com">