<h1>New Users Page</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :lastName %><br>
    <%= form.text_field :lastName %>
  </div>

  <div>
    <%= form.submit%>
  </div>
<% end %>