<style>
    .content {
        max-width: 800px;
        margin: auto;
    }
</style>

<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/loggedHeader' %>
</head>

<body>
  <div class="content">
    <h1>Name: <%= @user.name %></h1>
    <h1>Last Name: <%= @user.lastName %></h1>
    <h1>Username: <%= @user.username %></h1>
    <h2>Liked Movies</h2>
    <% @user.movies.each do |movie| %>
      <p>
        <strong>Movie Id:</strong>
        <%= movie.tmdbId %>
      </p>
    <% end %>
  </div>
</body>
