<style>
    .content {
        max-width: 800px;
        margin: auto;
    }
</style>

<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/loggedHeader' %>
</head>

<body>
  <div class="content">
      <div class="card" style="width: 100%;">
          <div class="card-body">
              <h5 class="card-title"><%= @user.name %> <%= @user.lastName %></h5>
              <p class="card-text"><b>Username:</b> <%= @user.username %></p>
          </div>
      </div>
    <h2>Liked Movies</h2>
    <ul>
      <%= render 'tmdb_movies/listMovies' %>
    </ul>
  </div>
</body>

